.root{
	line-height: 22px; width: 100%; /*height: 100%;*/
	/*overflow-x: hidden; overflow-y: auto; A noter il est possible d'utiliser scollLeft sur overflow hidden*/
	margin: 0; padding: 10px; overflow: auto;
	/*position: relative;*/
	cursor: inherit;
	font-family: sans-serif;
	font-size: 11px;
	white-space: nowrap;
	text-align: left;

	list-style: none;
}
.popup>*>*>.content>.root{ width: auto; }

.root:-moz-drag-over{
	-webkit-box-shadow: inset 0 0 2px 1px #888;
	-moz-box-shadow:	inset 0 0 2px 1px #888;
	box-shadow:			inset 0 0 2px 1px #888;
}

/* VX */

.root.vx{ background-color: white; }
.root.vx .node.selected>div{ background: none; color: inherit; }
.root.vx .node.selected.expanded>div{ background: none; color: inherit; border-color: transparent; }

.root.vx .node>div{ /*padding-right: 27px; pourquoi faire ça ?*/ /*max-width: 100% !important;*/ }
.root.vx .node>div>.name{ padding-left: 5px; padding-right: 5px; }

/* Compact */

.root.compact .node>div, .root.compact:focus .node>div{
	background: none;
	border-color: transparent;
}
.root.compact .node>div{ border: none; }

/* une version plus simple:
.root.compact li{ float: left; }
.root.compact ul:after{ content: ""; display: block; clear: both; }
cependant, dans ce cas je pards le fait que le li mesure toute la largeur et déclenche dragover
 */

/* obligé d'utiliser float:left pour avoir un comportement inline mais que margin-top:-1px fonctionne */
.root.compact .node>div{ float: left; }
.root.compact ul{ clear: left; }
.root.compact .node{ clear: left; }
/*.root.compact .node:after{ content: ""; display: block; clear: both; }*/

.root.compact .node.dragover.before>div:after{ top: -1px; border-bottom: none; }
.root.compact .node.dragover.after>div:after{ bottom: -1px; border-top: none; }

