.tree>.root .node>div>.ajax{
	background-image: url(../img/ajax.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

.tree>.root .node>div>.ajax{ padding-left: 4px; padding-right: 20px; }

.tree.dot>.root .node{ background-image: url(../img/tree/dot.gif); background-repeat: repeat-y; background-position: 8px 0px; }
.tree.dot>.root .node.last{ background-repeat: no-repeat; }
.tree.dot>.root .node>div{ background-image: url(../img/tree/dot_x.gif); background-repeat: no-repeat; background-position: 9px center; }
