/*
---

name: tree

description: Affichage en arborescence

...
*/

/* background image */

.tree .node>div>.ajax{ background-image: url(../img/ajax.gif); background-repeat: no-repeat; background-position: right center; }
.tree .node>div>tool{ background-image: url(../img/tree/tool.png); background-repeat: no-repeat; background-position: 0px 50%; }
.tree .node>div>tool:hover{ background-position: -18px 50%; }
.tree .node.empty>div>tool, .tree .node.disabled>div>tool{ background-image: none; }
.tree .node.expanded>div>tool{ background-position: -36px 50%; }
.tree .node.expanded>div>tool:hover{ background-position: -54px 50%; }
.menu .node>div>tool, .menu .node>div>tool:hover{ background-position: -72px 50%; }

.tree.dot .node{ background-image: url(../img/tree/dot.gif); background-repeat: repeat-y; background-position: 8px 0px; }
.tree.dot .node.last{ background-repeat: no-repeat; }
.tree.dot .node>div{ background-image: url(../img/tree/dot_x.gif); background-repeat: no-repeat; background-position: 9px center; }

/* colors */

.tree.compact .node.lighted>div>name, .tree.line .node.lighted>div{
	border-color: #B3E4F9;
	background: rgba(230, 245, 255, 0.3);
	background-image: -webkit-linear-gradient(rgba(245, 250, 255, 0.3), rgba(230, 245, 255, 0.3));
	background-image:    -moz-linear-gradient(rgba(245, 250, 255, 0.3), rgba(230, 245, 255, 0.3));
	background-image:     -ms-linear-gradient(rgba(245, 250, 255, 0.3), rgba(230, 245, 255, 0.3));
	background-image:      -o-linear-gradient(rgba(245, 250, 255, 0.3), rgba(230, 245, 255, 0.3));
	background-image:         linear-gradient(rgba(245, 250, 255, 0.3), rgba(230, 245, 255, 0.3));
}
.tree.compact .node.selected>div>name, .tree.line .node.selected>div{
	border-color: #d9d9d9;
	background: rgba(230, 230, 230, 0.5);
	background-image: -webkit-linear-gradient(rgba(250, 250, 250, 0.5), rgba(230, 230, 230, 0.5));
	background-image:    -moz-linear-gradient(rgba(250, 250, 250, 0.5), rgba(230, 230, 230, 0.5));
	background-image:     -ms-linear-gradient(rgba(250, 250, 250, 0.5), rgba(230, 230, 230, 0.5));
	background-image:      -o-linear-gradient(rgba(250, 250, 250, 0.5), rgba(230, 230, 230, 0.5));
	background-image:         linear-gradient(rgba(250, 250, 250, 0.5), rgba(230, 230, 230, 0.5));
}
.tree.compact:focus .node.selected>div>name, .tree.line:focus .node.selected>div{
	border-color: #7da2ce;
	background: rgba(193, 219, 252, 0.5);
	background-image: -webkit-linear-gradient(rgba(220, 235, 252, 0.5), rgba(193, 219, 252, 0.5));
	background-image:    -moz-linear-gradient(rgba(220, 235, 252, 0.5), rgba(193, 219, 252, 0.5));
	background-image:     -ms-linear-gradient(rgba(220, 235, 252, 0.5), rgba(193, 219, 252, 0.5));
	background-image:      -o-linear-gradient(rgba(220, 235, 252, 0.5), rgba(193, 219, 252, 0.5));
	background-image:         linear-gradient(rgba(220, 235, 252, 0.5), rgba(193, 219, 252, 0.5));
}
.tree.compact:focus .node.focused>div>name, .tree.line:focus .node.focused>div{ border-color: blue; }
.tree:focus .node.actived>div>name, .tree:focus .node.actived>div{
	color: inherit;
	border-color: #ffc651;
	border-top-color: #ffc651;
	border-bottom-color: #ffa952;
	background: #ffe8b6;
	background-image: -webkit-linear-gradient(#ffe8b6, #ffdb8f);
	background-image:    -moz-linear-gradient(#ffe8b6, #ffdb8f);
	background-image:     -ms-linear-gradient(#ffe8b6, #ffdb8f);
	background-image:      -o-linear-gradient(#ffe8b6, #ffdb8f);
	background-image:         linear-gradient(#ffe8b6, #ffdb8f);
}

.tree.vx{ background-color: white; }
.tree.vx .node.selected>div{ background: none; color: inherit; }
.tree.vx .node.selected.expanded>div{ background: none; color: inherit; border-color: transparent; }

.tree .node.editing>div>input[type="text"]{ border-color: black; }

.tree .node.dragover>div{ border-color: #292FEF; }

.menu .node, .menu .node.last{ background-color: #F1F1F1; }
.menu ul{
	border-color: #979797;
	background-color: #F5F5F5;
	-webkit-box-shadow: 4px 4px 3px -2px #888;
	-moz-box-shadow:	4px 4px 3px -2px #888;
	box-shadow: 		4px 4px 3px -2px #888;
}

.tree.menu .node>div{ color: #555555; border: 1px solid transparent; }
.tree.menu .node.actived>div{ background: none; border-color: transparent; }
.tree.menu .node.focused>div{ border-color: transparent; color: red; }
.tree.menu .node.lighted>div{ border-color: #A8D8EB; color: #555555; }
.tree.menu .node.disabled>div{ color: #D3D3D3; }
.menu .node.radio>div>img, .menu .node.checkbox>div>img{ visibility: hidden; }
.menu .node.actived.radio>div>img, .menu .node.actived.checkbox>div>img{ border-color: #A8D8EB; visibility: visible; }

.menu .node:before{ border-left-color: #E3E3E3; border-right-color: white; }
.menu .node.sep:after{
	background-color: #FFFFFF;
	border-bottom-color: #F1F1F1;
	border-top-color: #E3E3E3
}

/* structure */

.tree{
	line-height: 22px; width: 100%; /*height: 100%;*/
	/*overflow-x: hidden; overflow-y: auto; A noter il est possible d'utiliser scollLeft sur overflow hidden*/
	margin: 0; padding: 10px; overflow: auto;
	/*position: relative;*/
	cursor: inherit;
	font-family: sans-serif;
	font-size: 11px;
	white-space: nowrap;
	text-align: left;
}
.popup>*>*>.content>.tree{ width: auto; }

.tree ul{ margin: 0; padding: 0; list-style: none; }
.tree .node>ul{ display: none; }
.tree .node.expanded>ul{ display: list-item; }

.tree .node>div>tool{ padding-left: 16px; height: 22px; }
.tree.compact .node>div>name, .tree.line .node>div{ border: 1px solid transparent; }

.tree .node>div>name{ cursor: default; }
.tree .node>div>img{ vertical-align: middle; width: 16px; height: 16px; padding-left: 3px; }
.tree .node>div.cut>img{ opacity: 0.5; }
.tree .node>div>name{
	padding-left: 3px;
	padding-right: 3px;
	display: inline-block; /* pour que first-letter uppercase du menu fonctionne */
	white-space: nowrap; /* pour edition: évite que des espaces puisse changer la largeur du spanspan puisqu'il définit input.width */
}
.tree .node>div>.ajax{ padding-left: 4px; padding-right: 20px; }

/*
on peut envisager quelque chose comme au lieu des paddings sur les spans
.node>.icon{ width: 16px; height: 20px; }
.node>tool{ width: 15px; height: 20px; }
.node>name{ vertical-align: middle; display: inline-block; }
*/

/* Ceci permet d'éviter le chevauchement des bords des noeuds */
.tree .node>div{ position: relative; z-index: 1; margin-top: -1px; }
.tree>ul>.node.first>div{ margin-top: 0; }
.tree .node.lighted>div{ z-index: 2; }
.tree .node.selected>div{ z-index: 3; }
.tree .node.focused>div{ z-index: 4; }

/* obligé d'utiliser float:left pour avoir un comportement inline mais que margin-top:-1px fonctionne */
.tree.compact .node>div{ float: left; }
.tree.compact ul{ clear: both; }
.tree.compact .node{ clear: both; }
.tree.compact .node:after{ content: ""; display: block; clear: both; }

/* une version plus simple:
.tree.compact li{ float: left; }
.tree.compact ul:after{ content: ""; display: block; clear: both; }
cependant, dans ce cas je pards le fait que le li mesure toute la largeur et déclenche dragover
 */

/* pour qu'on puisse toujours cliquer hors des noeud j'avait mit max-width: 70% sur les noeuds */
.tree.line .node>div{ display: block; /*max-width: 70%;*/ }

.tree.vx .node>div{ /*padding-right: 27px; pourquoi faire ça ?*/ /*max-width: 100% !important;*/ }
.tree.vx .node>div>name{ padding-left: 5px; padding-right: 5px; }

.tree .node.editing>div>input[type="text"]{
	border-width: 1px;
	border-style: solid;
	font-size: 11px;
	font-family: sans-serif;
	height: 22px;
	overflow: hidden;
	padding: 0 2px;
	position: absolute; z-index: 10; /* pour qu'il passe par dessus span  */
}
.tree.line .node.editing>div>input[type="text"]{ top: -1px; }

.menu{
	font-family: verdana;
	min-width: 250px; width: auto; height: auto;
	overflow: visible;
	display: none;
	position: absolute; z-index: 1000;
}
.menu .node{ position: relative; }
.menu .node:before{
	position: absolute; content: ""; display: block; z-index: 0; top: 0; left: 26px; bottom: 0;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-bottom: none;
}

.menu .node.sep:after{
	content: ""; display: block;
	height: 1px;
	margin: 4px 0 2px 28px;
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-right: none;
	border-bottom-width: 2px;
}
/* cache la séparation si aucun noeud après celui-ci */
.menu .node.sep.last:after{ display: none; }

.menu ul{ padding: 2px; border-width: 1px; border-style: solid; }
.menu ul ul{ position: absolute; z-index: 10; left: 100%; top: 0; min-width: 200px; }
.menu ul ul.left{ right: 100%; left: auto; }
/* Affiche la première option en gras */
.menu>ul>.node.first>div{ font-weight: bold; }
.menu .node.disabled>div{ font-weight: normal; }
.menu .node>div, .menu .node.actived>div>img{ border-radius: 3px; }
.menu .node>div>img{
	border: 1px solid transparent; padding: 3px;
	position: absolute; top: -1px; left: -1px; /* Permet la fusion des bords de l'image et du noeud */
}
.menu .node>div>name{ padding-left: 30px; padding-right: 100px; }
.menu .node>div>name:first-letter{ text-transform: uppercase; }
.menu .node>div>kbd{ position: absolute; right: 16px; padding: 0; text-align: right; }
.menu .node>div>kbd:first-letter{ text-transform: uppercase; }
.menu .node>div>tool{ position: absolute; right: 0; height: 100%; }

/* Tree Drag */

.tree .node.dragover.before>div:after, .tree .node.dragover.after>div:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	border-width: 1px;
	border-style: dotted;
	border-left: none;
	border-right: none;
}

.tree .node.dragover.before>div:after{ top: -2px; }
.tree .node.dragover.before>div:after{ bottom: -2px; }
.tree.compact .node.dragover.before>div:after{ top: -1px; border-bottom: none; }
.tree.compact .node.dragover.after>div:after{ bottom: -1px; border-top: none; }

.tree:-moz-drag-over{
	-webkit-box-shadow: inset 0 0 2px 1px #888;
	-moz-box-shadow:	inset 0 0 2px 1px #888;
	box-shadow:			inset 0 0 2px 1px #888;
}

/*
.file_nav{ width: 439px; height: 320px; background-color: inherit; position: relative; }
.file_container{ float: left; width: 100px; height: 320px; background-color: white; white-space: nowrap; }
.preview_container{ width: 256px; background: url(../img/bg_empty.png); }
.file_container, .preview_container{ border: 1px solid grey; overflow: auto; }
.file_preview{ width: 256px; position: relative; background: url(../img/mapback.png); }
.file_action{ position: absolute; bottom: -2px; padding-left: 2px; width: 40%; height: 55%; overflow: auto; }

.file_nav{ width: 480px; height: 390px; }
.file_nav .file_container{ width: 40%; height: 100%; }
.file_nav .preview_container{ width: 57%; height: 100%; position: absolute; right: 0px; }
.file_nav .file_preview{ }
*/


