<template id="template" bind="foo as foo">
	<!-- foo.* available -->
	foo.name: {foo.name}<br />
	<template bind="foo.bar as bar">
		foo.name: {foo.name}<br />
		bar.name: {bar.name}<br />
		<!-- foo.* & bar.* available -->
		<template bind="bar.bat">
			<!-- only properties of bat are available -->
			bat.name: {name}<br />
		</template>
	</template>
</template>

<script>

var template = $('template').template;
var model = {
	foo: {
		name: 'foo',
		bar: {
			name: 'bar',
			bat: {
				name: 'bat',
				boo: {
					name: 'boo'
				}
			}
		}
	}
};

template.setModel(model);

</script>
